<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Pass</title>
</head>
<body>
    <section class="top">
        <div class="heading">
            <div class="event-name">
                <div>
                    <div class="text">TECHNO</div>
                    <div class="text">VENTURE</div>
                </div>
                <div class="version">3.0</div>
            </div>
            <div class="contest">
                <div class="title">{{registration.get_contest_display}}</div>
                <img src="file:///{{contest_logo}}" alt="">
                
            </div>
        </div>
        <div class="sub-heading">
            <div>ENTRY PASS</div>
        </div>
    </section>
    <section class="main">
        <div class="meta">
            <div class="left">
                <div class="meta-info">
                    <div class="info">
                        <div class="label">Registration ID:</div>
                        <div class="value">{{registration.id}}</div>
                    </div>
                    {% if registration.contest == 'lfr' or registration.contest == 'poster' and registration.team_name %}
                    <div class="info">
                        <div class="label">Team Name:</div>
                        <div class="value">{{registration.team_name}}</div>
                    </div> 
                    {% else %}
                    {% endif %} 
                    <div class="info">
                        <div class="label">Contest Schedule:</div>
                        <div class="value">{{schedule}}</div>
                    </div> 
                    <div class="info">
                        <div class="label">Applied At:</div>
                        <div class="value">{{registration.added_at|date:"g:i:s A, j F Y"}}</div>
                    </div>
                    <div class="info">
                        <div class="label">Approved At:</div>
                        <div class="value">{{registration.approved_at|date:"g:i:s A, j F Y"}}</div>
                    </div>  
                    <div class="info">
                        <div class="label">IP Address:</div>
                        <div class="value">{{registration.ip_address}}</div>
                    </div>  
                    
                </div>
            </div>
            <div class="right">
                <div class="qr-container">
                    <img src="file:///{{qrcode_path}}">
                </div>
            </div>
        </div>
        <div class="members-info">
            <div class="title">Group Members</div>
            <div class="container">
                <div class="member full-width">
                    <div class="designation">Team Leader</div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Lorem Ipsum Dolor</td>
                            </tr>
                            <tr >
                                <td>Instituition:</td>
                                <td>Lorem Ipsum Dolor Lorem, ipsum</td>
                            </tr>
                            <tr >
                                <td>Department:</td>
                                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, deleniti.</td>
                            </tr>
                            <tr >
                                <td>Phone:</td>
                                <td>01717942356</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="member half-width">
                    <div class="designation">Team Leader</div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Lorem Ipsum Dolor <span class="tshirt-size">XL</span> </td>
                            </tr>
                            <tr >
                                <td>Instituition:</td>
                                <td>Lorem Ipsum Dolor Lorem, ipsum</td>
                            </tr>
                            <tr >
                                <td>Department:</td>
                                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, deleniti.</td>
                            </tr>
                            <tr >
                                <td>Phone:</td>
                                <td>01717942356</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="member half-width">
                    <div class="designation">Team Leader</div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Lorem Ipsum Dolor</td>
                            </tr>
                            <tr >
                                <td>Instituition:</td>
                                <td>Lorem Ipsum Dolor Lorem, ipsum</td>
                            </tr>
                            <tr >
                                <td>Department:</td>
                                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, deleniti.</td>
                            </tr>
                            <tr >
                                <td>Phone:</td>
                                <td>01717942356</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="instructions">
            <div class="title">Please Note</div>
            <ul>
                <li>This Entry Pass is your gateway to all the contest activities and amenities. Please keep a printed copy of it.</li>
                <li>Plan to arrive at least 30 minutes before the contest start time to allow for familiarization with the venue.</li>
                <li>Familiarize yourself with the contest rules and guidelines, and make sure you understand the format, scoring system, and any specific requirements.</li>
                <li>Should you have any inquiries or require assistance during the event, our dedicated staff members and organizers at the venue are here to help.</li>
            </ul>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <img src="file:///{{eee_logo}}">
            <div class="info">
                <div>Organized By</div>
                <div>Department of EEE</div>
                <div>Sylhet Engineering College, Sylhet</div>
            </div>
        </div>
    </section>
    <div class="server-info">
        <div class="time">Server Time: {{server_time}}</div>
    </div>
</body>
</html>